body{
    background-color: antiquewhite;
}
*{
    font-family: fantasy;
    margin: 0;
    list-style: none;
    padding: 0;
    text-decoration: none;

}
center{
    position: relative;
    margin: 20px auto;
    width: 600px;
    height: 60px;
    text-align: center,;
    color: rgb(0, 0, 0);
    background-color: rgb(64, 170, 170);
    font-size: medium;
    line-height: 50px;
    border-radius: 20px 20px 0 0;

}
#calcular{
    display: flex;
    margin: 20px auto;
    position: relative;
    width: 600px;
    height: auto;
    border: 1px solid #af0000;
    border-radius: 20px;
    background: #ddd;
    flex-flow: wrap;
    justify-content: center;
}
#operaciones{
    line-height: 90px;
    text-align: end;
    border: 2px solid #2600ff;
    background-color: azure;
    position: relative;
    width: 480px;
    height: 100px;
    font-size: 50px;
    border-radius: 10px;
    
}


#calcular li{
    margin: 5px;
    padding: 32px;
    width: 15px;
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 0, 0);
}
#borar{
    background: #ff0000;
    width: 422px;
    height: 30px;
    cursor: pointer;
    padding: 32px;
}
#calcular li:hover{
    color: beige;
    background: mediumorchid;
}
#calcular li:active{
    
}
#borar:hover{
    color: beige;
    background-color: mediumorchid;
}