body{
    background-color: antiquewhite;
}
*{
    font-family: fantasy;
    margin: 0;
    list-style: none;
    padding: 0;
    text-decoration: none;

}
center{
    position: relative;
    margin: 20px auto;
    width: 550px;
    height: 60px;
    text-align: center,;
    color: rgb(0, 0, 0);
    background-color: rgb(64, 170, 170);
    font-size: medium;
    line-height: 50px;
    border-radius: 20px 20px 0 0;

}
#calcular{
    display: flex;
    margin: 20px auto;
    position: relative;
    width: 550px;
    height: auto;
    border: 1px solid #af0000;
    border-radius: 20px;
    background: #ddd;
    flex-flow: wrap;
    justify-content: center;
}
#operaciones{

    line-height: 90px;
    text-align: end;
    border: 10px solid #b171a8;
    background-color: azure;
    position: relative;
    width: 430px;
    height: 90px;
    font-size: 50px;
    border-radius: 10px;
    
}


#calcular li{
    border-radius: 10px;
    margin: 5px;
    padding: 32px;
    width: 15px;
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: rgb(207, 115, 166);
}
#borar{
    border-radius: 10px;
    background: rgb(207, 115, 166);
    width: 380px;
    height: 20px;
    cursor: pointer;
    padding: 32px;
}
#calcular li:hover{
    color: beige;
    background: mediumorchid;
}
#calcular li:active{
    background: rgb(172, 206, 121);
    
}
#borar:hover{
    color: beige;
    background-color: mediumorchid;
}
#borar:active{
    background: rgb(172, 206, 121);
}