body{
    background: #DA4453;  
background: -webkit-linear-gradient(to right, #89216B, #DA4453); 
background: linear-gradient(to right, #89216B, #DA4453);

}
*{
    font-family: fantasy;
    margin: 0;
    list-style: none;
    padding: 0;
    text-decoration: none;
    font-size: 20px;
}
center{
    position: relative;
    margin: 20px auto;
    width: 410px;
    height: 60px;
    text-align: center,;
    color: rgb(0, 0, 0);
    background-color: rgb(64, 170, 170);
    font-size: medium;
    line-height: 50px;
    border-radius: 20px 20px 0 0;

}
#calcular{

    display: flex;
    margin: 20px auto;
    position: relative;
    width: 410px;
    height: auto;
    border: 1px solid #af0000;
    border-radius: 20px;
    background: #ddd;
    flex-flow: wrap;
    justify-content: center;
}
.operaciones{
    line-height: 50px;
    text-align: end;
    border: 10px solid #b171a8;
    background-color: azure;
    position: relative;
    width: 310px;
    height: 50px;
    font-size: 40px;
    border-radius: 10px;
    
}
.btn{
    cursor:pointer;
    border-radius: 10px;
    margin: 5px;
    padding: 32px;
    width: 15px;
    text-align: center;
    width: 10px;
    height: 10px;
    background-color: rgb(207, 115, 166);
}
#cero{
    cursor:pointer;
    border-radius: 10px;
    margin: 5px;
    padding: 32px;
    width: 15px;
    text-align: center;
    width: 10px;
    height: 10px;
    background-color: rgb(207, 115, 166);
}
#cero:hover{
    color: beige;
    background: rgb(186, 92, 209);
}
#cero:active{
    background: rgb(172, 206, 121);
}
#igual{
    cursor:pointer;
    border-radius: 10px;
    margin: 5px;
    padding: 32px;
    width: 15px;
    text-align: center;
    width: 10px;
    height: 10px;
    background-color: rgb(207, 115, 166);
}
#igual:hover{
    color: beige;
    background: rgb(186, 92, 209);
}
#igual:active{
    background: rgb(172, 206, 121);
}
#borar{
    cursor: pointer;
    border-radius: 10px;
    background: rgb(207, 115, 166);
    width: 200px;
    height: 10px;
    cursor: pointer;
    padding: 32px;
}
#c{
    cursor: pointer;
    border-radius: 10px;
    margin: 5px;
    padding: 32px;
    width: 15px;
    text-align: center;
    width: 10px;
    height: 10px;
    background-color: rgb(207, 115, 166);

}
#c:hover{
    color: beige;
    background: rgb(186, 92, 209);
}
#c:active{
    background: rgb(172, 206, 121);
}

#calcular li:hover{
    color: beige;
    background: rgb(186, 92, 209);
}
#calcular li:active{
    background: rgb(172, 206, 121);
    
}
#borar:hover{
    color: beige;
    background-color: mediumorchid;
}
#borar:active{
    background: rgb(172, 206, 121);
}